html, body {
  width: 100%;
  background: #eee !important;
  padding-bottom: 10px; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }

.navbar-default {
  background: #0097cf; }

.navbar {
  border: none !important;
  margin-bottom: 0 !important; }

.navbar-collapse {
  background: #0097cf; }
  .navbar-collapse .navbar-right {
    padding-right: 150px; }

.navbar-header .navbar-brand {
  padding-left: 85px; }

.collapse .navbar-nav li {
  height: 60px; }
  .collapse .navbar-nav li a {
    line-height: 30px;
    color: #fff; }

section {
  background: #fff;
  width: 1200px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin: 0 auto;
  height: auto; }

.form-inline .btn-primary {
  background: #f6ac00 !important;
  border: 1px solid #f6ac00;
  margin-top: 10px;
  padding: 5px 15px; }
.form-inline .form-group {
  padding: 30px 0 20px 30px; }
  .form-inline .form-group .form-font {
    color: #0097cf;
    font-size: 20px;
    padding-right: 10px; }
  .form-inline .form-group .form-control {
    width: 425px; }
  .form-inline .form-group .sr-only {
    position: relative !important;
    width: 0px !important;
    height: 0px !important; }

.top {
  background: #fff;
  overflow: hidden; }

.headPortrait {
  padding-left: 35px;
  width: 190px;
  float: left;
  background: #fff; }
  .headPortrait dt {
    width: 190px;
    border: 1px solid #e6e6e6; }
    .headPortrait dt img {
      padding: 2px 20px 0; }
  .headPortrait dd {
    text-align: center;
    padding-top: 10px; }

.top-table {
  float: left;
  background: #fff;
  margin-left: 95px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 430px; }
  .top-table .table {
    background: #fcfcfe; }
    .top-table .table thead tr th {
      border-bottom: none !important;
      padding: 8px 0 8px 8px !important; }
    .top-table .table tbody tr td {
      border-top: none !important;
      padding: 6px !important; }

.edit {
  float: right;
  margin-right: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 430px;
  height: 185px;
  overflow-y: scroll; }
  .edit .hobby {
    padding-left: 11px;
    padding-top: 11px; }
    .edit .hobby .hoby {
      border: 1px solid #ccc !important;
      height: 30px;
      border-radius: 5px;
      box-shadow: 1px 3px 2px #ddd;
      text-indent: 8px; }
  .edit .list-first {
    border: none !important; }
  .edit .list-group {
    position: relative;
    padding-right: 50px;
    overflow: hidden;
    margin-bottom: 0 !important; }
    .edit .list-group .list-group-item {
      float: left;
      width: 65px;
      padding: 0 !important;
      line-height: 30px;
      text-align: center;
      margin: 11px 11px 0;
      border-radius: 5px; }
      .edit .list-group .list-group-item i {
        position: absolute;
        top: -5px;
        right: -5px;
        color: #f4c600;
        font-size: 16px; }
      .edit .list-group .list-group-item .add {
        color: #56abe4;
        position: absolute;
        top: 7px;
        left: -50px; }
    .edit .list-group .ad {
      color: #56abe4;
      border: 1px solid #56abe4; }

.information {
  padding-left: 55px;
  clear: both; }
  .information h3 {
    font-size: 16px;
    color: #000;
    font-weight: bold; }
    .information h3 i {
      border: 1px dotted #ccc;
      width: 91%;
      display: inline-block; }
  .information .table {
    width: 300px;
    display: inline-block; }
    .information .table tbody tr td {
      border: none !important;
      text-align: left; }
      .information .table tbody tr td:first-child {
        text-align: right; }

.artbox {
  padding: 10px 100px;
  overflow: hidden; }
  .artbox h3 {
    font-size: 20px;
    padding-left: 14px;
    font-weight: bold; }
    .artbox h3 i {
      border: 1px dotted #ccc;
      width: 89%;
      display: inline-block; }
  .artbox p {
    text-align: center;
    font-size: 12px;
    color: #818181; }
  .artbox span {
    text-align: center;
    display: inline-block; }
    .artbox span a {
      font-size: 10px;
      color: #818181; }

.UserFeedback {
  width: 100%;
  background: #fff;
  padding: 20px 100px; }
  .UserFeedback .table_top {
    border: 1px solid #ccc;
    text-align: center; }
    .UserFeedback .table_top td {
      font-size: 12px; }
    .UserFeedback .table_top tr td:nth-child(1) {
      font-weight: bold;
      font-size: 14px; }

.table_ditch {
  border: 1px solid #ccc;
  text-align: center; }
  .table_ditch tr td:nth-child(5) {
    color: #269fd2; }
  .table_ditch tr:nth-child(1) {
    font-weight: bold;
    font-size: 14px; }
    .table_ditch tr:nth-child(1) td {
      color: #414141; }

/*# sourceMappingURL=UserPortraitSystem.css.map */
